<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>测试</title>
</head>
<body>
<input type="file" id="importFile"></div>

<button value="import" id="btn" type="button"
        onclick="test()">导入虚拟奖中奖信息
</button>
<script src="/s/js/jquery-3.1.1.min.js"></script>
<script>
  function test() {

    var file = $('#importFile')[0].files[0];


    if (file.type != 'application/vnd.ms-excel') {

      alert("不是xls");
    } else {

      alert("是xls");
    }


  }
</script>
</body>
</html>